.Button {
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  box-sizing: content-box;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: var(--font-family-text);
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  & a {
    color: var(--color-secondary);
    font-family: var(--font-family-text);
    min-width: 150px;
    text-decoration: none;
    text-transform: uppercase;
  }
  & svg{
    width: 15px;
    stroke-width:4px;
    fill: var(--color-secondary);
  }
  &:hover {
    background-color: var(--color-secondary);
    color: white;
    & a{
      color: white;
    }
    & svg{
      fill: white;
    }
  }
}