:root {
  --color_dove_gray_approx: #666;
  --alabaster: #fafafa;
  --black: #000;
  --white: #fff;
  --color_cerise_red_approx: #e42b66;
  --color_cinnabar_approx: #e2433f;
  --color-comments: #90a4ae;
  --color-punctuation: white;
  --color-type: #e91e63;
  --color-strings: #EE8146;
  --color_roman_coffee_approx: #795548;
  --color_governor_bay_approx: #367D8B;
  --color-function-name: #92BD48;
  --color-variable: #ff9800;

  --color-editor: #374050;
	--color-background: #374050;
	--gradient-editor: linear-gradient(90deg, rgba(55,64,80,0.9) 0%, rgba(55,64,80,1) 100%);
  //fonts
  --font_0: "Fira code";
  --font_1: "Fira Mono";
  --font_2: "Consolas";
  --font_3: "Menlo";
  --font_4: "Courier";
	--font_5: "monospace";
	counter-reset: line;
}

.CodeEditor {
	line-height: 1.5;
	font-size: 15px;
	background: linear-gradient(rgba(55,64,80,0.9) 0%, rgba(55,64,80,1) 100%);
	margin-left: 30px;
	outline: none;
	&:active {
		border: none;
	}
}


.container {
	font-family: var(--font_0), var(--font_1), var(--font_2), var(--font_3), var(--font_4), var(--font_5);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	color: var(--color_dove_gray_approx);
	background-color: var(--gradient-editor);
	padding-left: 100px!important;
	&_editor_line_number {
		color: white;
	}
	&__content {
		width: 440px;
		max-width: 100%;
		padding: 10px;
		text-align: center;
	}
	&__editor {
		font-size: 12px;
		font-variant-ligatures: common-ligatures;
		// background-color: var(--alabaster);
		border-radius: 3px;
		textarea {
			// outline: 0;
			height: 100%!important;
		}
		&_area {
			tab-size: 4ch;
			max-height: 400px;
			overflow: auto;
			margin: 1.67em 0;
			padding-left: 3em;
		
		}
	}
}

.container_editor_line_number:before {
  position: absolute;
  right: 100%;
  margin-right: 10px;
  text-align: right;
  opacity: .3;
  user-select: none;
  counter-increment: line;
	content: counter(line);
  opacity: .3;
  user-select: none;
  counter-increment: line;
	content: counter(line);
	border: none;
}


.button {
	display: inline-block;
	padding: 0 6px;
	text-decoration: none;
	background: var(--black);
	color: var(--white);
	&:hover {
		background: linear-gradient(45deg, var(--color_cerise_red_approx), var(--color_cinnabar_approx));
	}
}

.token {
	&.comment {
		color: var(--color-comments);
	}
	&.prolog {
		color: var(--color-comments);
	}
	&.doctype {
		color: var(--color-comments);
	}
	&.cdata {
		color: var(--color-comments);
	}
	&.punctuation {
		color: var(--color-punctuation);
	}
	&.property {
		color: var(--color-type);
	}
	&.tag {
		color: var(--color-type);
	}
	&.boolean {
		color: var(--color-type);
	}
	&.number {
		color: var(--color-type);
	}
	&.constant {
		color: var(--color-type);
	}
	&.symbol {
		color: var(--color-type);
	}
	&.deleted {
		color: var(--color-type);
	}
	&.selector {
		color: var(--color-strings);
	}
	&.attr-name {
		color: var(--color-strings);
	}
	&.string {
		color: var(--color-strings);
	}
	&.char {
		color: var(--color-strings);
	}
	&.builtin {
		color: var(--color-strings);
	}
	&.inserted {
		color: var(--color-strings);
	}
	&.operator {
		color: var(--color_roman_coffee_approx);
	}
	&.entity {
		color: var(--color_roman_coffee_approx);
		cursor: help;
	}
	&.url {
		color: var(--color_roman_coffee_approx);
	}
	&.atrule {
		color: var(--color_governor_bay_approx);
	}
	&.attr-value {
		color: var(--color_governor_bay_approx);
	}
	&.keyword {
		color: var(--color_governor_bay_approx);
	}
	&.function {
		color: var(--color-function-name);
	}
	&.regex {
		color: var(--color-variable);
	}
	&.important {
		color: var(--color-variable);
		font-weight: bold;
	}
	&.variable {
		color: var(--color-variable);
	}
	&.bold {
		font-weight: bold;
	}
	&.italic {
		font-style: italic;
	}
}
.namespace {
	opacity: 0.7;
}

.language-css .token.string {
	color: var(--color_roman_coffee_approx);
}
.style .token.string {
	color: var(--color_roman_coffee_approx);
}