:root {
  --black: #000;
  --white: #fff;

  --color-primary: #475161;
  --color-primary-dark: #374050;
  --color-primary-darker: #24262B;

  --color-secondary: #FF614C;

  --color-green: #BFDC36;
  --color-green-lighter: #A5FE85;

  --color-yellow: #F1CA2F;
  --color-beige: #EBE8D8;

  --color_dove_gray_approx: #666;
  --alabaster: #fafafa;

  --color_cerise_red_approx: #e42b66;
  --color_cinnabar_approx: var(--color-secondary);
  --color-comments: #90a4ae;
  --color-punctuation: var(--white);
  --color-type: var(--color-beige);
  --color-strings: var(--color-secondary);
  --color_roman_coffee_approx: #795548;
  --color_governor_bay_approx: #367D8B;
  --color-function-name: var(--color-green);
  --color-variable: var(--color-yellow);



  --color-editor: var(--color-primary-dark);
	--color-background: var(--color-primary-darker);
  --gradient-editor: linear-gradient(90deg,
                                          rgba(55,64,80,0.9) 0%,
                                          rgba(55,64,80,1) 100%);
  //fonts
  --font-0: "Fira code";
  --font-1: "Fira Mono";
  --font-2: "Consolas";
  --font-3: "Menlo";
  --font-4: "Courier";
  --font-5: "monospace";
  --font-6: 'Lato';
  --font-7: "Helvetica";
  --font-8: "Arial";
  --font-9: "sans-serif";
  --font-family-code: var(--font-0, --font-1, --font-5);
  --font-family-text: var(--font-6, --font-7, --font-8, --font-9);
	counter-reset: line;
}